{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Byte of Legacy{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'legacy/favicon/byte of legacy copy.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'legacy/styles/main_style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra_heads %}{% endblock %}

    <style>
        body, .bol-legacy-card {
            background-image: url("{% static 'legacy/favicon/Rectangle 1 copy.png' %}");
        }
    </style>
</head>
<body>
    <nav class="bol-navbar">
        <div style="height: 10vh;">
            <a href="{% url 'legacy:index' %}" class="bol-navbar-brand">
                <img src="{% static 'legacy/favicon/Bytes of Legacy2 copy.png' %}" alt="Byte of Legacy" id="bol-nav-logo">
            </a>
        </div>
        <button class="bol-toggle-btn" id="bol-toggle-btn">
            <i class="material-icons">menu</i>
        </button>
        <ul class="bol-navbar-nav" id="bol-navbar-nav">
            <li class="bol-nav-item"><a href="{% url 'legacy:about' %}" class="bol-nav-link">About</a></li>
            <li class="bol-nav-item"><a href="{% url 'legacy:claim' %}" class="bol-nav-link" style="background-color: #2A9DF4;">Claim</a></li>
        </ul>
    </nav>
    <div class="bol-fluid-container" style="margin-top: 15vh;">
        <div class="bol-container block-main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script>
        const navbar = document.querySelector('.bol-navbar');

        window.addEventListener('scroll', () => {
            if (window.scrollY > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        })

        const toggleBtn = document.getElementById("bol-toggle-btn");
        const navLinks = document.getElementById("bol-navbar-nav");

        toggleBtn.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        })
    </script>

</body>
</html>